<div class="row justify-content-md-center mt-4">
    <div class="col-lg-6">
        <div class="w-100 pad-caretaker-header-title text-center">
            OVERZICHT
        </div>
        <div id="wut">
            <table class="table-light table-striped table">
                <thead>
                <tr>
                    <th scope="col" class="w-50">Naam</th>
                    <th scope="col" class="w-50">Volgende afspraak</th>
                    <th scope="col" class="w-50">Punten per dag</th>
                    <th scope="col" class="w-25">Percentage gehaald</th>
                    <th scope="col" class="w-25">Dagen sinds afspraak</th>
                    <th scope="col" class="w-25">Totaal gehaald</th>
                </tr>
                </thead>
                <tbody id="table-data">
                <tr>
                    <td>Karin van Westerbroek</td>
                    <td>dd/mm/yyy</td>
                    <td>15</td>
                    <td>81%</td>
                    <td>21</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>Mark Homsworth</td>
                    <td>dd/mm/yyy</td>
                    <td>17</td>
                    <td>75%</td>
                    <td>4</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Lisa Wals</td>
                    <td>dd/mm/yyy</td>
                    <td>8</td>
                    <td>55%</td>
                    <td>11</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>