<div class="row justify-content-md-center mt-4">
  <div class="col-lg-6 ">
    <div class="w-100 pad-caretaker-header-title">
      PEOPLE
    </div>
  </div>
</div>

<div class="row justify-content-md-center mt-5">
  <div class="col-lg-6 pad-container">
    <div class="w-100 pad-caretaker-header1">
      MARK HOMSWORTH
    </div>
    <div class="w-100 pad-caretaker-content">
      <div class="row pb-3">
        <div class="col-lg-5 image-border1">
          <img class="imgpatient1" src="assets/img/patient1.png" alt="patient1">
        </div>
        <div class="col-lg-5 caretaker-rehabilitator-text">
          <p class="ct-year"><small>Leeftijd: 55</small></p>
          <p class="ct-gender"><small>Geslacht: Man</small></p>
          <p class="ct-bloodtype"><small>Bloed Type:O</small></p>
          <p class="ct-status"><small>Status:Fysieke Trauma (Schouders)</small></p>
          <p class="ct-contacttitle"><small>Contact:</small></p>
          <p class="ct-phonenumber"><small>Phone: +31-637564839</small></p>
          <p class="ct-mail"><small>Mail: markhoms@gmail.com</small></p>
        </div>
      </div>

      <h3 class="mb-2"><b>Beschrijving</b></h3>
      <p>
        Suspendisse vel lacinia felis. Quisque at orci lacus. Nullam sit amet pellentesque augue.
        Fusce ultricies elit sed nulla rutrum, at maximus mi convallis.
        Sed hendrerit sapien id elit tincidunt, et fringilla leo varius.
        Suspendisse vel lacinia felis. Quisque at orci lacus. Nullam sit amet pellentesque augue.
        Fusce ultricies elit sed nulla rutrum, at maximus mi convallis.
        Sed hendrerit sapien id elit tincidunt, et fringilla leo varius.
        Curabitur pellentesque porttitor nisl id tincidunt.
        Pellentesque suscipit congue erat, sit amet vehicula erat fermentum viverra. Nulla facilisi.
      </p>
      <div class="buttongroup col-lg-5">
        <button class="btn1 btn-secondary mr-3">Stuur bericht</button>
        <button class="btn2 btn-secondary mr-3">Doelen bewerken</button>
        <button class="btn3 btn-secondary mr-3">Stel punten in</button>
        <button class="btn4 btn-secondary">Profiel bewerken</button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center mt-4">
  <div class="col-lg-6 pad-container">
    <div class="w-100 pad-caretaker-header2">
      LISA WALS
    </div>
    <div class="w-100 pad-caretaker-content">
      <div class="row pb-3">
        <div class="col-lg-5 image-border1">
          <img class="imgpatient2" src="assets/img/patient2.png" alt="patient2">
        </div>
        <div class="col-lg-5 caretaker-rehabilitator-text">
          <p class="ct-year"><small>Leeftijd: 74</small></p>
          <p class="ct-gender"><small>Geslacht: Vrouw</small></p>
          <p class="ct-bloodtype"><small>Bloed Type:O</small></p>
          <p class="ct-status"><small>Status:Fysieke Trauma (Heup)</small></p>
          <p class="ct-contacttitle"><small>Contact:</small></p>
          <p class="ct-phonenumber"><small>Phone: +31-637564839</small></p>
          <p class="ct-mail"><small>Mail: markhoms@gmail.com</small></p>
        </div>
      </div>

      <h3 class="mb-2"><b>Beschrijving</b></h3>
      <p>
        Suspendisse vel lacinia felis. Quisque at orci lacus. Nullam sit amet pellentesque augue.
        Fusce ultricies elit sed nulla rutrum, at maximus mi convallis.
        Sed hendrerit sapien id elit tincidunt, et fringilla leo varius.
        Suspendisse vel lacinia felis. Quisque at orci lacus. Nullam sit amet pellentesque augue.
        Fusce ultricies elit sed nulla rutrum, at maximus mi convallis.
        Sed hendrerit sapien id elit tincidunt, et fringilla leo varius.
        Curabitur pellentesque porttitor nisl id tincidunt.
        Pellentesque suscipit congue erat, sit amet vehicula erat fermentum viverra. Nulla facilisi.
      </p>
      <div class="buttongroup col-lg-5">
        <button class="btn1 btn-secondary mr-3">Stuur bericht</button>
        <button class="btn2 btn-secondary mr-3">Doelen bewerken</button>
        <button class="btn3 btn-secondary mr-3">Stel punten in</button>
        <button class="btn4 btn-secondary">Profiel bewerken</button>
      </div>
    </div>
  </div>
</div>