.navbar {
    padding: 0 0 0 9px;
}

.navbar-brand {
    padding-top: 0;
}

#header-title {
    margin-bottom: -10px;
}

#navigation-bottom .navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    line-height: 0.9;
}

#navigation-bottom .navbar-nav > li :hover {
    background-color: #e4e4e4;
}

#navigation-top {
    border-bottom: 8px solid var(--color-category-current);
}

.bottom-nav-element[selected] {
    color: #ffffff !important;
    background-color: var(--color-category-current) !important;
}

.nav-link {
    border: none;
    background-color: #ffffff;
    font-size: 30px;
}

.nav-link:hover {
    background-color: #e4e4e4;
}

.nav-link:active{
    color: white !important;
    background-color: var(--color-category-default);
}

.nav-link:focus {
    outline: none;
}