
.navbar {
    padding: 0 0 0 9px;
}

.navbar-brand {
    padding-top: 0;
}

#header-title {
    margin-bottom: -10px;
}

#navigation-bottom .navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    line-height: 0.9;
}

#navigation-bottom .navbar-nav > li :hover {
    background-color: #e4e4e4;
    color: #ffffff !important;
}

#navigation-top {
    border-bottom: 8px solid var(--color-category-current);
}

/* Category - colors */
#nav-cat-home[current] {
    background-color: var(--color-category-home) !important;
}

#nav-cat-goals[current] {
    background-color: var(--color-category-goals) !important;
}

#nav-cat-statistics[current] {
    background-color: var(--color-category-statistics) !important;
}

#nav-cat-profile[current] {
    background-color: var(--color-category-profile) !important;
}

#nav-cat-social[current] {
    background-color: var(--color-category-social) !important;
}

.bottom-nav-element[current] {
    color: #ffffff !important;
}

.bottom-nav-element:active {
    background-color: gray !important;
}