html, body {
    min-height: 100vh;
    justify-content: center;
    height: 100%;

}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 180px;


}


.col-lg-12 {
    height: 80%
}

.avatar img {
    margin: 0 auto;
    width: 500px;
    height: 500px;


}

/*.row{*/
/*    border: 2px solid black;*/
/*}*/

#welkom-text{
    width: 100%;
    height: 100%;
    word-wrap: break-word;


}

#speech-bubble {
    width: 215px;
    height: 104px;
    top: 164px;
    left: 35px;
    position: absolute;

}

.col-lg-3 {
    height: 200px;
    /*padding-left: 30px !important;*/
    /*padding-right:30px !important;*/
    padding-bottom: 10px;
}

.cards-row {
    max-width: 80%;

}

.cards {
    background-color: #86C7C3;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    color: white;
    margin: auto;
    min-width: 180px;
    margin-bottom: 10px;

}

.cards:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

a:visited, a:hover, a:active {
    text-decoration: none !important;

}


.cards h2, p {
    text-align: center;
    padding: 10px 5px 5px 5px;
}

.cards p {
    font-size: 20px;
    padding-top: 20px;
}

@media all and (max-width: 991px) {
    .cards-row {
        margin-top: 280px;
    }
}

