<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3">
        <h2 class="mb-3"><b>Uw Zorg</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            <b>Welke zorg op welke locatie?</b> <br>

            Bekijk hier welke zorg Treant levert op welke locatie en met welke indicatie bewoners en cliënten bij ons terecht kunnen. Uitleg over de indicaties is hier te vinden. Treant levert verantwoorde en kwalitatief goede zorg aan bewoners en cliënten. Er kunnen zich echter situaties voordoen waarbij deze kwaliteit van zorg of de veiligheid van bewoners, cliënten of medewerkers niet (langer) gegarandeerd kan worden.
            Op basis van onze uitsluitingscriteria wordt beoordeeld of Treant zorg kan verlenen aan bewoners en cliënten.
            <br> <br>
            <b>Vergoeding</b> <br>
            Voor het verkrijgen van zorg, begeleiding en behandeling hebt u een indicatie nodig. Een indicatie vraagt u aan bij het Centrum Indicatiestelling Zorg. De meeste zorg wordt vergoed door de Wet langdurige zorg (Wlz). Ook als u uw zorg niet vergoed krijgt, kunt u bij ons terecht voor zorg. Dan sturen wij u de rekening.
        </p>
    </div>
</div>