<div class="row justify-content-md-center">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            JOUW PAM PROGRESSIE
        </div>
        <div class="w-100 pad-container-content">
            <div class="pad-progress-container p-2">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                         aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-pin-element">
                            <div class="progress-pin-text">
                                NU
                            </div>
                            <div class="progress-pin-pam">
                                20<br>PAM
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar-striped bg-info progress-bar-animated" role="progressbar"
                         style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-pin-element">
                            <div class="progress-pin-text">
                                DOEL
                            </div>
                            <div class="progress-pin-pam">
                                2000<br>PAM
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar-end">
                        <div class="progress-pin-element" id="progress-bar-end">
                            <div class="progress-pin-text pin-end">
                                EIND
                            </div>
                            <div class="progress-pin-pam pin-end">
                                2000<br>PAM
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4><b>Beschrijving</b></h4>
            <p>U bent al aardig onderweg! kijk of u een nieuwe wandelroute of doel kan aannemen om uwzelf uit te dagen!
                Nullam sit amet pellentesque augue. Fusce ultricies elit sed nulla rutrum, at maximus mi convallis.</p>
            <h4><b>Gisteren heeft u 20 PAM punten gehaald</b></h4>
            <p>U bent al aardig onderweg! Voor vandaag heeft u een doel staan van 30 PAM punten.
                kijk of u een nieuwe wandelroute of doel kan aannemen om uwzelf uit te dagen!</p>
        </div>
    </div>
</div>