<div class="category-container row justify-content-md-center">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            JOUW PAM PROGRESSIE
        </div>
        <div class="w-100 pad-container-content">
            <div class="pad-progress-container p-2">
                <div class="progress">
                    <div id="goal-previous" class="progress-bar bar-color-past" role="progressbar" aria-valuenow="15"
                         aria-valuemin="0" aria-valuemax="100">
                        <div id="progress-text-previous" class="progress-pin-element">
                            <div class="progress-pin-text">
                                VORIGE
                            </div>
                            <div class="progress-pin-pam">
                                <div class="pam-value">20</div>
                                <div class="pam-label">PAM</div>
                            </div>
                        </div>
                    </div>
                    <div id="goal-now" class="progress-bar bar-color-yesterday" role="progressbar" aria-valuenow="30"
                         aria-valuemin="0" aria-valuemax="100">
                        <div id="progress-text-now" class="progress-pin-element">
                            <div class="progress-pin-text">
                                NU
                            </div>
                            <div class="progress-pin-pam">
                                <div class="pam-value">20</div>
                                <div class="pam-label">PAM</div>
                            </div>
                        </div>
                    </div>
                    <div id="goal-goal" class="progress-bar-striped progress-bar-animated bar-color-goal"
                         role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <div id="progress-text-goal" class="progress-pin-element">
                            <div class="progress-pin-text">
                                DOEL
                            </div>
                            <div class="progress-pin-pam">
                                <div class="pam-value">20</div>
                                <div class="pam-label">PAM</div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar-end">
                        <div id="progress-bar-end" class="progress-pin-element">
                            <div id="pin-end-text" class="progress-pin-text">
                                EIND
                            </div>
                            <div id="pin-end-pam" class="progress-pin-pam">
                                <div class="pam-value">20</div>
                                <div class="d-none d-sm-block">PAM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="legend">
                <li><span class="bar-color-past"></span>
                    <p>Eerder behaalde PAM punten</p></li>
                <li><span class="bar-color-yesterday"></span>
                    <p>Gisteren behaalde PAM punten</p></li>
                <li><span class="bar-color-goal progress-bar-striped progress-bar-animated"></span>
                    <p>PAM punten doel voor vandaag</p></li>
            </ul>
            <h3><b>Beschrijving</b></h3>
            <p>Hierboven staat uw PAM progressie. Elke dag wordt uw PAM doel aangepast om u te steunen tijdens het
                revalideren.</p>
            <h3><b id="motivational-title">Hou vol</b></h3>
            <p id="motivational-description">Het einde komt vanzelf. Zolang je maar goed bezig blijft kom je
                vanzelf bij je doel.</p>
        </div>
    </div>
</div>

<div class="category-container row justify-content-md-center">
    <div class="row col-lg-6 mx-auto p-1" id="activity-container">
    </div>
</div>
