<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3">
        <h2 class="mb-3" style="font-size: 30px !important;"><b>Home</b></h2>
        <p style="font-size: 24px">
            Heeft u een nieuwe heup of knie gekregen of een andere ingrijpende operatie achter de rug? Of heeft u een ernstig ongeluk, beroerte (CVA) of ernstige ziekte gehad en moet u herstellen? De kans op een volledig of zo goed mogelijk herstel is het grootst als u onder professionele begeleiding revalideert.
            <br> <br>
            Op de afdeling Revalidatiezorg in Weidesteyn (Hoogeveen) en in De Horst (Emmen) kunt u terecht voor: <br>
            • orthopedische revalidatie: na operatie of ongeval met letsel aan uw bewegingsapparaat (knie, heup, schouder enzovoort)<br>
            • algemene revalidatie: bij hart- en longproblemen en kanker<br>
            • CVA-revalidatie: na een beroerte of hersenbloeding<br>
        </p>
    </div>
</div>