<nav class="navbar navbar-expand-lg static-top" id ="topnavigation">
    <a class="navbar-brand text-secondary" href="#" style="font-size: 52px">
        <img src="./assets/img/logo.svg" width="69px">
        HIPPER-HOP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="a">
        <ul class="navbar-nav ml-auto">
            <!--                <li class="nav-item active">-->
            <!--                    <a class="nav-link" href="#" data-controller="welcome">Welcome-->
            <!--                        <span class="sr-only">(current)</span>-->
            <!--                    </a>-->
            <!--                </li>-->
            <li class="nav-item">
                <a class="nav-link text-secondary" data-controller="logout" href="#"
                   style="font-size: 30px">UITLOGGEN</a>
            </li>
        </ul>
    </div>
</nav>


<!--<a class="navbar-brand text-secondary" href="#" style="font-size: 52px">-->
<!--    <img src="./assets/img/logo.svg" width="69px">-->
<!--    HIPPER-HOP-->
<!--</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"-->
<!--        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="a">-->
<!--    <ul class="navbar-nav ml-auto">-->
<!--        &lt;!&ndash;                <li class="nav-item active">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <a class="nav-link" href="#" data-controller="welcome">Welcome&ndash;&gt;-->
<!--        &lt;!&ndash;                        <span class="sr-only">(current)</span>&ndash;&gt;-->
<!--        &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--        &lt;!&ndash;                </li>&ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link text-secondary" data-controller="logout" href="#" style="font-size: 30px">UITLOGGEN</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->