<div class="row justify-content-md-center">
    <div class="col-lg-6 pad-container">
            <div class="w-100 pad-container-header">
                UW PROFIEL - MARIA DE VREEDE
            </div>
            <div class="w-100 pad-container-content">
                <div class="row pb-3">
                    <div class="col-lg-5 image-border1">
                        <img id="profile_pic" class="imgrehabilitator" src="" alt="Revalidant">
                    </div>
                    <div class="col-lg-5 rehabilitator-text">
                        <p style="font-size: 24px;"><small>
                            Naam: <span id="name"></span><br>
                            Leeftijd: <span id="age"></span><br>
                            Adres: <span id="adress">Doornbloemstraat 56</span><br>
                            Postcode: <span id="postalcode">3218JK</span><br>
                            Bloedtype: <span id="bloodtype">O</span>
                        </small></p>
                    </div>
                </div>

                <h3 class="mb-2"><b>Beschrijving: </b></h3>
                <p style="font-size: 24px;">
                    <span id="description"></span>
                </p>
                <h3 class="mb-2"><b>Gegevens incorrect?</b></h3>
                <p style="font-size: 24px;">
                    Neem contact op met uw zorgverlener om dit aan te passen.
                    Kijk aan de onderkant van deze pagina om de contactinformatie van uw zorgverlener te vinden.
                </p>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            UW ZORGVERLENER - DR.SUZIE LEE CRUMPLER
        </div>
        <div class="w-100 pad-container-content">
            <div class="row pb-3">
                <div class="col-lg-5 image-border1">
                    <img class="imgcaregiver" src="../assets/img/caretaker/verzorger_auto_x1_toned.png" alt="verzorger">
                </div>
                <div class="col-lg-5 rehabilitator-text">
                    <p style="font-size: 24px;"><small><ins>Contact:</ins><br>
                        Telefoon: +31-637564839<br>
                        E-Mail: drsuzcrump@doctor.com<br>
                        <br>
                        <ins>Ervaring:</ins><br>
                        Fysiotherapeut  - 2 jaar<br>
                        Revalidatiearts - 6 jaar
                    </small></p>
                </div>
            </div>

            <h3 class="mb-2"><b>Beschrijving</b></h3>
            <p style="font-size: 24px;">
                Hallo Marie, ik ben Suzie Lee Crumpler uw zorgverlener van HIPPER.
                Voor vragen kunt u mij altijd bereiken via de gegevens die hierboven zijn vermeld.
                Praesent consectetur enim in aliquam efficitur. Suspendisse vel lacinia felis.
                Quisque at orci lacus. Nullam sit amet pellentesque augue.
                Fusce ultricies elit sed nulla rutrum, at maximus mi convallis.
                Sed hendrerit sapien id elit tincidunt, et fringilla leo varius.
                Curabitur pellentesque porttitor nisl id tincidunt.
            </p>
        </div>
    </div>
</div>