<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3 profiel-container1">
        <h1 class="pl-3 profiel-titel1"><b>UW PROFIEL - MARIA DE VREEDE</b></h1>
        <div class="col-lg-5">
            <img src="img/revalidant_auto_x1_toned.png" alt="Revalidant">
            <p style="font-size: 24px;"><small>Naam: Maria de vreede<br>
                Leeftijd: 68<br>
                Adres: Doornbloemstraat 56<br>
                Postcode: 3218JK<br>
                Bloedtype: O
            </small></p>
        </div>
        <h2 class="mb-2"><b>Beschrijving van uw zorgverlener</b></h2>
        <p style="font-size: 24px; padding-bottom: 0px">
            Door uw jarenlange fysieke activiteiten heeft u een opswelling bij uw heupen gekregen,
            volgens de doctor wordt geadviseerd om de aankomende weken veel te wandelen bij u in de buurt.
        </p>
        <h2 class="mb-2"><b>Gegevens incorrect?</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            Neem contact op met uw zorgverlener om dit aan te passen.
            Kijk aan de onderkant van deze pagina om de contactinformatie van uw zorgverlener te vinden.
        </p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3 mb-5 profiel-container2">
        <h1 class="pl-3 profiel-titel2"><b>UW ZORGVERLENER - DR.SUZIE LEE CRUMPLER</b></h1>
        <div class="col-lg-5">
            <img src="" alt="verzorger">
            <p style="font-size: 24px;"><small><ins>Contact:</ins><br>
                Telefoon: +31-637564839<br>
                E-Mail: drsuzcrump@doctor.com<br>
                <br>
                <ins>Ervaring:</ins><br>
                Fysiotherapeut  - 2 jaar<br>
                Revalidatiearts - 6 jaar
            </small></p>
        </div>
        <h2 class="mb-2"><b>Beschrijving</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            Hallo Marie, ik ben Suzie Lee Crumpler uw zorgverlener van HIPPER.
            Voor vragen kunt u mij altijd bereiken via de gegevens die hierboven zijn vermeld.
            Praesent consectetur enim in aliquam efficitur. Suspendisse vel lacinia felis.
            Quisque at orci lacus. Nullam sit amet pellentesque augue.
            Fusce ultricies elit sed nulla rutrum, at maximus mi convallis.
            Sed hendrerit sapien id elit tincidunt, et fringilla leo varius.
            Curabitur pellentesque porttitor nisl id tincidunt.
        </p>
    </div>
</div>