<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3">
        <h2 class="mb-3"><b>Meer weten over uw arts?</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            Als u voor het eerst naar een ziekenhuislocatie van Treant moet voor een onderzoek, behandeling of operatie, is het fijn om te weten met wie u te maken heeft. Daarom tonen wij op onze website per specialisme de artsen die werkzaam zijn voor dit specialisme, vaak met een foto en een korte beschrijving / cv. Deze gegevens worden ook gelinkt naar het portaal. Met andere woorden: in de afsprakenmodule in het portaal ziet u niet alleen de naam van degene met wie u een afspraak heeft, maar in de meeste gevallen ook een foto.
        </p>
    </div>
</div>