<div class="social-container row justify-content-center">


    <!-- Right Column -->
    <div class="col-lg-4 right-column">

        <!-- Company Info -->

        <div class="tittle-container text-center">
            <h2 class="">DR. SUZIE LEE CRUMPLER </h2>
            <img src="assets/img/verzorger_auto_x1_toned.png">
        </div>

        <div class="contact-info">
            <h3>Beschrijving</h3>
            <p>Goeiedag ik ben DR. SUZIE LEE CRUMPLER </p>
            <p>Ik bied professionele begeleiding, hulpverlening en advisering bij u revilidatie.</p>
        </div>

        <div class="contact-info">
            <h3>Contact Info</h3>
            <p>Haren Straat, Amsterdam, N7 8EP</p>
            <p>+44 7700 900041</p>
            <p> Revalidatie@PAD.com</p>
        </div>

        <!-- Social Icons -->
        <div class="social">
            <div class="text-center center-block">
                <a href="#"><i class="icon fab fa-facebook-f"></i></a>
                <a href="#"><i class="icon fab fa-twitter"></i></i></a>
                <a href="#"><i class="icon fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <!-- Right Column -->

    <!-- Left Column -->
    <div class="col-lg-6 left-column">


        <!-- Contact Form Title -->


        <!-- Form --><br>
        <h2 class="title">Contact Formulier </h2>
        <br>
        <form class="contact-form" method="POST" action="send">
            {{{msg}}}

            <!-- Name -->
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">Your Name</label>
                <div class="col-lg-8">
                    <input type="text" name="name" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">Email Adress</label>
                <div class="col-lg-8">
                    <input type="email" name="email" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Message -->
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">Message</label>
                <div class="col-lg-8">
                    <textarea class="form-control form-control-sm" name="message" rows="25" required></textarea>
                </div>

            </div>

            <!-- Submit Button -->
            <div class="text-right">
                <input class="btn btn-submit" type="submit" value="Submit">
            </div>

        </form>
    </div>
    <!-- End Left Coloumn -->
</div>