<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3">
        <h2 class="mb-3"><b>Meer weten over uw arts?</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            <b>Kunst in de ziekenhuislocaties</b> <br>
            De ziekenhuislocaties van Treant in Hoogeveen (Bethesda), Emmen (Scheper) en Stadskanaal (Refaja) hebben diverse mogelijkheden om beeldende kunst te exposeren.  De doelstelling van het exposeren van kunst binnen het ziekenhuis van Treant is het leveren van een bijdrage aan het welbevinden, de gezondheid en het herstel van patiënten, hun naaste(n), bezoekers en de medewerkers.
            <br> <br>
            We richten ons zoveel mogelijk op lokale kunstenaars of een thematiek die dichtbij de organisatie staat zoals het lokale landschap, de sociaal-maatschappelijke context, de (kern)waarden van de organisatie (de mens in al zijn facetten).
            <br> <br>
            <b>Kunst in de locaties voor wonen en zorg</b> <br>
            Voor de locaties voor wonen en zorg heeft Treant een kunstcommissie. Deze commissie brengt kunst- en cultuuraspecten frequent onder de aandacht op de locaties. Dit doen we door diverse activiteiten te ondernemen, zoals het beschikbaar stellen van een eigen kunstcollectie. De gedachte hierachter is dat dit leidt tot een hogere mate van welbevinden van bewoners en cliënten, inspirerend kan werken in een dialoog over de kunstwerken en mensen bewezen vrolijker worden van veelkleurige kunst. De kunstcommissie wil haar eigen collectie uitbreiden en de kunstwerken beschikbaar stellen voor alle Treant-locaties voor wonen en zorg. In locatie De Horst in Emmen is elk kwartaal een wisselende expositie van kunstenaars.
        </p>
    </div>
</div>