<!--<div class="row justify-content-md-center">-->
<!--    <div class="col-lg-6 pad-container">-->
<!--        <div class="w-100 pad-container-header">-->
<!--            UW ZORGVERLENER - DR. SUZIE LEE CRUMPLER-->
<!--        </div>-->
<!--        <div class="w-100 pad-container-content">-->
<!--            <div class="tittle-container text-center">-->
<!--                <h2 class="">DR. SUZIE LEE CRUMPLER </h2>-->
<!--                <img src="assets/img/1_profile_pic.png">-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3>Beschrijving</h3>-->
<!--                <p>Goeiedag ik ben DR. SUZIE LEE CRUMPLER </p>-->
<!--                <p>Ik bied professionele begeleiding, hulpverlening en advisering bij u revilidatie.</p>-->
<!--            </div>-->

<!--            <div class="contact-info">-->
<!--                <h3>Contact Info</h3>-->
<!--                <p>Haren Straat, Amsterdam, N7 8EP</p>-->
<!--                <p>+44 7700 900041</p>-->
<!--                <p> Revalidatie@PAD.com</p>-->
<!--            </div>-->

<!--            &lt;!&ndash; Social Icons &ndash;&gt;-->
<!--            <div class="social">-->
<!--                <div class="text-center center-block">-->
<!--                    <a href="#"><i class="icon fab fa-facebook-f"></i></a>-->
<!--                    <a href="#"><i class="icon fab fa-twitter"></i></i></a>-->
<!--                    <a href="#"><i class="icon fab fa-linkedin-in"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3 mb-5 profile-container">
        <h1 class="pl-3 profile-title"><b>UW ZORGVERLENER - <span class="name_caretaker"></span>
            <div class="row pb-3">
                <div class="col-lg-5 image-border2">
                    <img class="imgcaregiver profile_pic_caretaker" src=""
                         onerror="if (this.src !== 'error.jpg') this.src = 'assets/img/default.jpeg';" alt="verzorger">
                </div>
                <div class="col-lg-5 rehabilitator-text">
                    <p style="font-size: 24px;"><small>
                        <ins>Contact:</ins>
                        <br>
                        Naam: <span class="name_caretaker"></span><br>
                        Telefoon: <span class="phone_caretaker"></span><br>
                        E-Mail: <span class="email_caretaker"></span><br>

                        <ins>Ervaring:</ins>
                        <br>
                        <span class="experience1_caretaker"></span><br>
                        <span class="experience2_caretaker"></span><br>
                        <span class="experience3_caretaker"></span><br>
                    </small></p>
                </div>
            </div>

            <h2 class="mb-2"><b>Beschrijving</b></h2>
            <p style="font-size: 24px; padding-bottom: 20px">
                <span class="description_caretaker"></span>
            </p>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3 mb-5 profile-container">
        <h1 class="pl-3 profile-title"><b>DEEL UW REVALIDATIE VOORTGANG</b></h1>

        <h2 class="mb-2"><b>Beschrijving</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            Wilt u wat delen met andere revalidanten? heeft u tips/suggesties of wilt u gewoon iets gezelligs plaatsen?
            Typ uw bericht hieronder en verstuur het om met andere te delen!
        </p>

        <form class="contact-form" method="POST" action="send">
            <!-- Message -->
            <div class="form-group row">
                <div class="col-lg-8">
                    <textarea class="form-control form-control-sm" name="message" rows="15" required></textarea>
                </div>

            </div>

            <!-- Submit Button -->
            <div class="text-right">
                <input class="btn btn-submit" type="submit" value="Deel bericht">
            </div>

        </form>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3 mb-5 profile-container">
        <h1 class="pl-3 profile-title"><b>HOE GAAT HET MET ANDERE REVALIDANTEN?</b></h1>

        <h2 class="mb-2"><b>Maarten - 50 jaar</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            Met een ski ongeluk mijn gebroken Praesent consectetur enim in aliquam efficitur. Suspendisse vel lacinia
            felis. Quisque at orci lacus. Nullam sit amet pellentesque augue. Fusce ultricies elit sed nulla rutrum, at
            maximus mi convallis. Sed hendrerit sapien id elit tincidunt, et fringilla leo varius.
        </p>

        <h1 class="pl-3 profile-title"><b></b></h1>

        <h2 class="mb-2"><b>Judith - 67 jaar</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            Praesent consectetur enim in aliquam efficitur. Suspendisse vel lacinia felis. Quisque at orci lacus. Nullam
            sit amet pellentesque augue.
            Fusce ultricies elit sed nulla rutrum, at maximus mi convallis. Sed hendrerit sapien id elit tincidunt, et
            fringilla leo varius.
        </p>

        <h1 class="pl-3 profile-title"><b></b></h1>

        <h2 class="mb-2"><b>Tim - 31 jaar</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            Donec rhoncus imperdiet arcu ac posuere. Cras egestas, velit vehicula accumsan condimentum, erat nibh
            ullamcorper dolor, a dignissim magna nibh a est. Suspendisse semper ornare consectetur. Pellentesque non
            lectus lacinia, blandit elit id, consequat erat. Praesent viverra nunc sed nulla volutpat sodales. Donec
            porttitor diam at egestas fermentum.
        </p>

    </div>
</div>


</div>