<div class="row justify-content-md-center">
    <div class="col-lg-5 m-3">
        <h2 class="mb-3"><b>Uw dossier</b></h2>
        <p style="font-size: 24px; padding-bottom: 20px">
            <b>Uw dossier is van u!</b> <br>
            Uw ziekenhuis, apotheek en andere zorgverleners houden uw medische gegevens nauwkeurig bij. Uiteraard gaan we zorgvuldig met uw persoonlijke gegevens om. Treant heeft gekozen om toegang tot het portaal te verlenen via de beproefde DigiD-methode, mét sms-verificatie. Of via de Digid app. Deze methode wordt ook door veel overheidsinstellingen gebruikt: denk bijvoorbeeld aan de Belastingdienst. Uw gegevens zijn dus goed beveiligd! Zonder uw toestemming kan niemand anders uw gegevens inzien.
            <br><br>
            <b>Weet u zeker dat u uw uitslagen wilt zien?</b> <br>
            U bepaalt of u online inzage wilt in uw dossier (het is een recht, geen plicht!). Mogelijk ervaart u bijvoorbeeld de uitslagen, die u via Mijn dossier kunt inzien, als schokkend, zeker als uw specialist ze nog niet met u heeft besproken. In mijnTreant hebben we daarom een 'drempel' ingebouwd via dit waarschuwingsscherm:
        </p>
    </div>
</div>